rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is signed in
    function isAdmin() {
      return request.auth != null;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
